<%- include ("../partials/header.ejs") %>
<body>
  <header class="header">
    <h1>CRUD NODE</h1>
  </header>
  <div class="container">
    <% if(users.length > 0) { %>
    <a href="/users/add" class="btn">Adicionar</a>
    <table class="user-table">
      <thead>
        <tr>
          <td>NOME</td>
          <td>EMAIL</td>
          <td>TELEFONE</td>
          <td style="text-align: center;">AÇÕES</td>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.telephone %></td>
            <td class="actions">
              <a href="/users/update/<%= user.id %>" class="btn-edit">Editar</a>
              <form action="/users/delete" method="POST" style="display: inline;" onsubmit="verification(event, this)">
                <input type="hidden" name="id" value="<%= user.id %>">
                <button class="btn-delete">Deletar</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else {%>
      <div class="no-data">
        <h2>Nenhum usuario cadastrado</h2>
        <p>Cadastre novos usuarios para aparecem aqui</p>
        <a href="/users/add" class="btn">Adicionar novo usuario</a>
      </div>
    <% }%>
  </div>
  <script>
    function verification(event, target){
      event.preventDefault()
      let decision = confirm("desejar deletar este usúario?")
      if(decision) {
        target.submit()
      } 
    }
  </script>
</body>
<%- include ("../partials/footer.ejs") %>